.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background: #ee6e73;
}

.logo {
  font-size: 20px;
  margin-left: 20px;
}

.nav-right {
  text-align: right;
}

.home {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 70px);
  background-color: #fff;
  max-width: 700px;
  width: 90%;
  padding: 0px 20px;
}

.message-board {
  overflow: auto;
  height: 80%;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
}

.form-board {
  width: 100%;
  margin-bottom: 50px;
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 3px;

}

.btn-login {
  margin-top: 78px;
}

.btn-signup {
  margin-top: 143px;
}

.btn-chat {
  margin-top: 13px;
}

@media screen and  (max-width: 768px) {
  .btn-send, .btn-login, .btn-signup {
    margin-top: 10px;
  }
}

.mui-textfield>input {
  background: white;
}

.error {
  color: #ee6e73;
  margin-top: -19px;
}

.username {
  font-size: 18px;
  margin-right: 20px;
}

.message-row {
  display: flex;
  margin-top: 20px;
  max-width: 55%;
}

@media screen and  (max-width: 768px) {
  .message-row {
    max-width: 80%;
  }
}

.message-row-right {
  padding-left: 45%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

@media screen and  (max-width: 768px) {
  .message-row-right {
    padding-left: 15%;
  }
}

.chip {
  display: flex;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0,0,0,0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
}

.chip img {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.right-img {
  margin: 0 -12px 0 8px !important;
}

.message-content-left {
  background-color: lightblue;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 15px;
}

.message-content-right {
  background-color: lightgreen;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 15px;
}

.time {
  font-style: italic;
  font-size: 10px;
}

.chip-message {
  margin-top: -19px;
}

.chip-message-right {
  margin-top: -14px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  text-align: right;
}
